.panel-button {
  padding: 0.4em;
  background-color: transparent;
  cursor: pointer;
  transition: transform 0.25s;
}
.panel-button:hover {
  transform: scale(1.1, 1.1);
}
.panel-button:focus,
.panel-button:focus-visible {
  outline: 2px auto -webkit-focus-ring-color;
}
